* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Roboto Mono", monospace;
    transition: all 0.3s, color 0.3s;
}

.portifolio {
    height: 100%;
    display: flex;
    flex: 1 2;
}

header {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #1C1917;
}

header img {
    width: 100%;
    max-width: 270px;
}

header h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #F2F2F2;
    margin: 1rem 0 0.5rem 0;
}

header h2 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
    color: #15803D;
    margin-bottom: 1.5rem;
}

header p {
    font-size: 1rem;
    font-weight: 400;
    color: #F2F2F2;
    text-align: center;
    margin-bottom: 2rem;
}